<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test name="接口2">
    <classes>
        <class name="com.homeworkday11.HomeWork"></class>
        <class name="com.lemon.TestngDemo1"></class>
    </classes>
    </test>
    <test name="Grouping">
        <groups>
            <define name="All">
                <include name="人"/>
                <include name="动物"/>
            </define>
           <run>
               <include name="All"/>
           </run>
        </groups>
        <classes>
            <class name="com.lemon.Grouping"></class>
        </classes>
    </test>
</suite>